*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}


body{
background:#f4f7fb;
color:#222;
}



/* LOGIN */

.login-page{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#0057ff,#00c6ff);

}


.login-card{

background:white;
width:350px;
padding:35px;
border-radius:25px;
text-align:center;
box-shadow:0 20px 40px #0003;

}


.login-card h1{

color:#0057ff;
margin-bottom:10px;

}


input,select{

width:100%;
padding:14px;
margin:10px 0;
border-radius:12px;
border:1px solid #ddd;
outline:none;

}



button{

width:100%;
padding:14px;
border:none;
border-radius:12px;
background:#0057ff;
color:white;
font-size:16px;
cursor:pointer;
transition:.3s;

}


button:hover{

transform:scale(1.03);

}


#loginError{

color:red;
margin-top:10px;

}




/* APP */


.hide{

display:none!important;

}



.app{

display:flex;
min-height:100vh;

}




/* SIDEBAR */


.sidebar{

width:240px;
background:#111827;
color:white;
padding:25px;
position:fixed;
height:100%;

}



.sidebar h2{

text-align:center;
margin-bottom:30px;

}



.sidebar button{

background:#1f2937;
margin:8px 0;
text-align:left;

}




/* CONTENT */


.content{

margin-left:240px;
width:100%;
padding:25px;

}



header{

display:flex;
justify-content:space-between;
align-items:center;
gap:20px;
margin-bottom:25px;

}



header input{

max-width:300px;

}



/* CARDS */


.cards{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;

}



.stat{

background:white;
padding:25px;
border-radius:20px;
box-shadow:0 10px 25px #0001;

}



.stat h3{

color:#777;

}


.stat h2{

font-size:32px;
color:#0057ff;

}





/* PANEL */


.panel{

background:white;
margin-top:25px;
padding:25px;
border-radius:20px;
box-shadow:0 10px 25px #0001;

}




/* CUSTOMER */


.customer{

background:#f1f5f9;
margin:10px 0;
padding:15px;
border-radius:15px;
display:flex;
justify-content:space-between;
align-items:center;

}


.customer button{

width:auto;
padding:8px 12px;
background:red;

}




/* MOBILE */


@media(max-width:800px){


.sidebar{

position:relative;
width:100%;
height:auto;

}


.app{

display:block;

}


.content{

margin-left:0;
padding:15px;

}



.cards{

grid-template-columns:1fr;

}



header{

flex-direction:column;
align-items:start;

}



}
