*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f7faff;
color:#111827;
}


header{
height:80px;
background:#08152f;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 35px;
color:white;
}

.logo{
font-size:30px;
font-weight:bold;
}

.logo span{
color:#38bdf8;
}

.menu{
font-size:35px;
}


.hero{
min-height:90vh;
display:flex;
align-items:center;
justify-content:space-around;
padding:40px;
background:linear-gradient(135deg,#ffffff,#dbeafe);
}


.hero-text{
max-width:600px;
}


h1{
font-size:50px;
line-height:1.2;
}

h1 span{
color:#2563eb;
}


.hero-text p{
font-size:22px;
margin:25px 0;
color:#4b5563;
}


.buttons{
display:flex;
gap:20px;
}


.btn{
background:#2563eb;
color:white;
padding:15px 40px;
border-radius:30px;
text-decoration:none;
font-weight:bold;
box-shadow:0 10px 25px #2563eb55;
}


.whatsapp{
background:#16a34a;
}


.hero-image img{
width:320px;
}


.services{
padding:50px;
text-align:center;
}


.cards{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}


.cards div{
background:white;
padding:30px;
width:250px;
border-radius:20px;
box-shadow:0 10px 30px #0002;
}


@media(max-width:700px){

.hero{
flex-direction:column;
text-align:center;
}

h1{
font-size:36px;
}

.hero-image img{
width:230px;
}

.buttons{
justify-content:center;
}

}
